* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  font-size-adjust: 1.5rem;
  margin: 0;
}

.menuBar {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.menuBar__logo {
  text-transform: uppercase;
  color: rgb(71, 71, 71);
  text-decoration: none;
  padding: 1.5rem;
}

.menuBar__pricing {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 1.5rem;
}

.topImage__title {
  position: absolute;
   top: 200px;
   left: 0;
   width: 100%; 
}

.topImage {
  top: 0;
  right: 0;
  left: 0;
  padding-top: 3rem;
  padding-left: 5rem;
  z-index: 1;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  font-weight: 400;
  text-align: center;
  text-shadow: 2px, 2px, 1px, rgba(50, 50, 50, 1);
}

.pricingDetail {
  position: relative;
  text-align: center;
}

.pricingDetail__box {
  height: 54rem;
}

.pricingDetail__box--level {
  font-size: 1.7rem;
  font-weight: 200;
  margin-top: 0;
  margin-bottom: 0;
}

.pricingDetail__box--price {
  font-size: 10rem;
  line-height: 1;
  font-weight: 300;
  margin: 1rem;
}

.pricingDetail__box--permonth {
  font-size: 1.8rem;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}

.pricingDetail__box--list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pricingDetail__box--list li {
  border: .5px solid rgba(50, 50, 50, 0.3);
  background-color: rgb(242, 242, 242);
  line-height: 2.5;
}

.chooseBox {
  height: 7rem
  border: 1px solid rgba(50, 50, 50, 0.3);
  padding: 2.5rem;
  text-align: center;
}

.clickChoose {
  border: 1px solid rgba(50, 50, 50, 0.3);
  border-radius: 2rem;
  color: rgb(0, 0, 0);
  font-weight: 600;
  padding: .6rem 1.1rem .6rem 1.1rem;
  text-decoration: none;
}

.background__personal {
  background-color: rgb(77, 145, 88);
  color: rgb( 255, 255, 255);
  margin-top: 4rem;
  padding: 3.2rem;
}

.background__small {
  background-color: rgb(45, 75, 129);
  color: rgb( 255, 255, 255);
  margin-top: 4rem;
  padding: 3.2rem;
}

.background__enterprise {
  background: rgb(0, 0, 0);
  color: rgb( 255, 255, 255);
  margin-top: 4rem;
  padding: 3.2rem;
}

.Info {
  margin-top: 3rem;
  position: relative;
  text-align: justify;
}

.Info__box {
  padding: 2.5rem 3rem 2rem 3rem;
}

.Info__title {
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 0;
  text-transform: uppercase;
}

.Info__text {
  color:rgba( 0, 0, 0, 0.7);
  margin-top: 0;
}

.foot {
  color: rgba(255, 255, 255, 0.4);
  background-color: rgb( 0, 0, 0);
  text-align: center;
  margin-top: 4rem;
  padding: 2.5rem;
}

.foot__link {
  color: rgb(255, 255, 255);
  font-weight: 400;
  text-decoration: none;
}

@media only screen
  and (min-width:768px){
    .pricingDetail {
      font-size 0;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .pricingDetail__box {
      display: inline-block;
      width: 33%;
      font-size: 1.7rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .Info {
      font-size: 0;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .Info__box {
      display: inline-block;
      font-size: 1.8rem;
      padding-left: 1rem;
      padding-right: 1rem;
      width: 50%;
    }

    .Info__text {
      font-size: 1.4rem;
      color: rgba( 0, 0, 0, 0.7);
    }
}


@media only screen
  and (min-width: 479px) {
    .topImage__picture {
      height: 40rem;
      overflow: hidden;
    }

    .topImage__title {
      top: 0;
      right: 0;
      left: 0;
      padding-left: 5rem;
      padding-right: 5rem;
      padding-top: 14rem;
      z-index: 1;
      font-size: 3rem;
      font-weight: 400;
      text-align: center;
      text-shadow: 2px 2px 1px rgba(50, 50, 50, 0.1);
    }
  }


@media only screen
  and (min-width: 768px) {
    .pricingDetail {
      font-size: 0;
      padding-left: 1rem;
      padding-right: 1rem;
  }

  .pricingDetail__box {
    display: inline-block;
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 33%;

  }

  .Info {
    font-size: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .Info__box {
    font-size: 1.7rem;
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .Info__text {
    font-size: 1.4rem;
    color: rgba(0,0,0,0.7)
  }

@media only screen
  and (min-width:979p) {
    .wrapper {
      width: 80%;
      margin: auto;
    }

    .topImage__picture {
      width: 100%;
    }
  }
