html {
  text-align: center;
  font-family: sans-serif;

}

footer {
  position: relative;
  background: black;
}

.image {
  position: absolute;


}

.picture {
  max-width: 100%;
}

.text {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 50px;
  font-weight: bold;
  left: 350px;
  top: 400px;
  text-align: right;
}



.article__personal {
  display: inline-block;
  background: green;
  color: white;
  text-align: center;
  width: 338px;
  height: 218;

}

.article__small-business {
  background: blue;
  display: inline-block;
  color: white;
  text-align: center;
  width: 338px;
  height: 218;

}

.button {
  color: black;
  background: white;
  margin-top: 12px;
  border-radius: 20%;
}

.article__enterprise {
  background: black;
  color: white;
  display: inline-block;
  text-align: center;
  width: 338px;
  height: 218;
}

.option1 {
  background: green;

}

.money {
  text-align: center;
}

.month {
  text-align: center;
  color: #e7ebe5;
  opacity: 50%;
}

.features {
  text-align: center;
  list-style: none;
  padding-left: 0;
}

.list_items {
  border-style: solid;
  border-color: rgb(176,176,176);
  background-color: white;
  color: gray;
  width: 375x;
  height: 46px;
}



.navButtons{
  display: inline;
  color: red;
}


.simple__articles {
  display: inline-block;
  text-align: justify;
  box-sizing: border-box;
  word-wrap: normal;
}


@media only screen and (max-width: 479px) {
  body {
    background-color: red;
  }

}
