html {
  text-align: center;
}

.article__personal {
  display: inline-block;
  background: green;
  color: white;
  text-align: center;
  width: 338px;
  height: 218;
}

.article__small-business {
  background: blue;
  display: inline-block;
  color: white;
  text-align: center;
  width: 338px;
  height: 218;

}

.article__enterprise {
  background: black;
  color: white;
  display: inline-block;
  text-align: center;
  width: 338px;
  height: 218;
}

.option1 {
  background: green;

}

.money {
  text-align: center;
}

.month {
  text-align: center;
  color: gray;

}

.features {
  text-align: center;
  list-style: none;
  padding-left: 0;
}

.list_items {
  border-style: solid;
  border-color: rgb(176,176,176);
  background-color: white;
  color: gray;
  width: 375x;
  height: 46px;
}



.navButtons{
  display: inline;
  color: red;
}


.simple__articles {
  display: inline-block;
  text-align: justify;
  box-sizing: border-box;
}


@media (min-width: 478px) {


}
